@font-face {
    font-family: RaleWayRegular;
    src: url('../../assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: MerriWeatherRegular;
    src: url('../../assets/fonts/MerriWeather/Merriweather-Regular.ttf');
}

@font-face {
    font-family: LibreBaskervilleRegular;
    src: url('../../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf'); 
}

@font-face {
    font-family: RalewayItalicLight;
    src: url('../../assets/fonts/Raleway/Raleway-LightItalic.ttf');
}