@import "../../styles";

// <---------------------------MAIN COMPONENTS------------------------------>

.about-page-main {
    flex-grow: 1;
    
    height: 100%;
    margin: 0;
    padding: 0;
 
    background: url('../../assets/images/background-hospital-about.jpg') no-repeat;
 }

.about-div {
    @include flex-layout(column, center, center);
    text-align: center;

    width: 100%;
    height: 700px;

    padding: 50px 0;

    font-size: xx-large;
}

.info-cards-section {
    @include flex-layout(row, space-around, center, $gap: 48px);
}

// <---------------------------SECTION COMPONENTS------------------------------>

.education-section {
    @include flex-layout(column, center, center, $gap: 8px);
}

.expirience-section {
    @include flex-layout(column, center, center, $gap: 8px);
}

.for-patients-section {
    @include flex-layout(column, center, center, $gap: 8px);
}

// <---------------------------PARAGRAPH COMPONENTS------------------------------>

.p-text-education {
    @include flex-layout(column, center, center);

    font-family: RaleWayRegular, sans-serif;
    text-align: center;
}

.p-text-education.inactive {
    display: none;
}

.p-text-expirience {
    @include flex-layout(column, center, center);

    font-family: RaleWayRegular, sans-serif;
    text-align: center;
}

.p-text-expirience.inactive {
    display: none;
}

.p-text-for-patients {
    @include flex-layout(column, center, center);

    font-family: RaleWayRegular, sans-serif;
    text-align: center;
}

.p-text-for-patients.inactive {
    display: none;
}

// <---------------------------LABEL COMPONENTS------------------------------>

.education-label-div {
    @include flex-layout(row, center, center);

    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10%;

    padding: 10px 10px;

    background-color: rgba(238, 229, 202, 0.8);
}

.education-label-div.inactive {
    @include flex-layout(row, center, center);

    border: none;

    padding: 0;

    background-color: transparent;
}

.expirience-label-div {
    @include flex-layout(column, center, center);

    border: 1px solid $black-color;
    border-radius: 5%;

    padding: 10px 10px;

    background-color: $primary-color;
}

.expirience-label-div.inactive {
    @include flex-layout(column, center, center);

    border: none;
    
    padding: 0;

    background-color: transparent;
}


.expirience-label-div.inactive {
    @include flex-layout(column, center, center);

    border: none;

    padding: 0;

    background-color: transparent;
}


.for-patients-label-div {
    @include flex-layout(row, center, center);

    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10%;

    padding: 10px 10px;

    background-color: rgba(238, 229, 202, 0.8);
}

.for-patients-label-div.inactive {
    @include flex-layout(column, center, center);

    border: none;

    padding: 0;

    background-color: transparent;
}

// <---------------------------MAIN DIV COMPONENTS------------------------------>

.education-div {
    @include flex-layout(column, center, center);

    text-align: center;
    width: 100%;
    height: 100%;

    padding: 10px 10px;

    font-family: RalewayItalicLight, sans-serif;

    background-color: rgba(153, 204, 255, 0.8);

    border: 1px solid $black-color;
    border-radius: 10%;
}

.for-patients-div {
    @include flex-layout(column, center, center);

    text-align: center;
    width: 100%;
    height: 100%;

    padding: 20px 20px;

    font-family: RalewayItalicLight, sans-serif;

    background-color: rgba(153, 204, 255, 0.8);

    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10%;
}


.expirience-div {
    @include flex-layout(column, center, center);

    text-align: center;
    width: 100%;
    height: 100%;

    padding: 16px 8px;

    font-family: RalewayItalicLight, sans-serif;

    background-color: rgba(153, 204, 255, 0.8);

    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10%;
}

// <---------------------------BUTTON COMPONENTS------------------------------>

.open-modal-button {
    @include flex-layout(row, center, center);

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 40px;

    background-color: rgba(255, 235, 205, 0.8);;
}

