@import '../../styles';

.copyright-div {
    @include flex-layout;

    align-items: center;
    justify-content: space-around;

    border-top: 1px solid rgba(0,0,0,1);

    min-height: 100px;
    width: 100%;

    background-color: rgba(70, 66, 51, 0.8); 
}