@import '../../../styles';

.overlay-contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: relative;
    top: 0;
    bottom: 0;
    right: 400px;
}

.contact-me {
    @include flex-layout(row, flex-start, center);

    font-family: MerriweatherRegular, sans-serif;
    font-size: 40px;

    color: #333333;
}

.divider {
    position: relative;
    z-index: 5;

    min-width: 150px;
    height: 2px;

    margin-top: 25px;
    margin-bottom:25px;

    background-color: rgba(0,0,0,1);
}

.buttons-section {
    @include flex-layout(column, center, flex-start);

    gap: 16px;
}

.buttons-section button {
    border: 1px solid rgba(238, 229, 202, 0.8);

    padding: 10px 20px;
    gap: 8px;
}

.button {
    @include button;
    @include flex-layout;
 
    padding: 10px 24px;
 
    border-radius: 40px;
    border: 1px solid transparent;
 
    font-family: RalewayRegular, sans-serif;
    font-size: x-large;
    color: #333333;
 
    transition: border 0.3s ease-in-out;
 
    &:hover {
       border: 1px solid rgba(black, 0.8);
       transition: border 0.3s ease-in-out;
    }
 }
